<nav class="navbarFooter">
    <ul>
        <li><a href=""><img src="images/feed-logo.png" alt=""></a></li>
        <li><a href=""><img src="images/icon-home.png" alt=""></a></li>
        <li><a href=""><img src="images/user-logo.png" alt=""></a></li>
    </ul>
</nav>