<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <header>
        <%- include('partials/header'); %>
    </header>
    <main>    
        <div class="content">
            <h2>Beschikbare quizen</h2>
            <div class="quizes">
                <div class="quiz-item">
                    <h3>Persoonlijkheid</h3>
                    <div class="arrow">&gt;</div>
                </div>
                
                <div class="quiz-item">
                    <h3>Spirit-Animal</h3>
                    <div class="arrow">&gt;</div>
                </div>
                
                <div class="quiz-item">
                    <h3>Historisch figuur</h3>
                    <div class="arrow">&gt;</div>
                </div>
                
                <div class="quiz-item">
                    <h3>Muzieksmaak</h3>
                    <div class="arrow">&gt;</div>
                </div>
            </div>
        </div>
    </main>
    <footer>
    <%- include('partials/footer'); %>
    </footer>
</body>
</html>