:root {
    --h1-color: #3B3B3B;
    --header-color: #E8E5E0;
    --primary-color: #47341F;
    --secondary-color: #ED9B40;
    --secondary-color-light: #F5C58F;
    --background-color: #F8F5F0;
    --text-color1: #2D2D2A;
    --text-color2: #4C4C46;
    --footer-color: #333333;
    --footer-color2: #474747;
    --footer-stroke: #A1A1A1;
    
}
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif; 
    background-color: var(--background-color); 
}
main{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4.086875rem;
    margin-bottom: 3.75rem;

}

h1{
    font-size: 1.7rem;
    color: var(--h1-color);
    font-family: "Just Another Hand", cursive;
    font-weight: 100;
    margin: 0;
}
h2{
    font-size: 1.1rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
h3{
    font-size: 1.5rem;
    color: #555555;
    font-family: "Jaini Purva", system-ui;
    font-weight: 100;

}
p{
    font-size: 12px;
}
button{
    background-color: #ED9B40;
    border-radius: 5px;
    border-width: 2px;
    border-color: #CCCCCC;
    color: white;
    font-size: small;
    padding: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-style: solid;
}
.navbarHeader{
    background-color: var(--header-color);
    padding: .7rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    position: fixed;
    top: 0;    
    width: 100%;

}


.navbarFooter{
position: fixed;
  bottom: 0;      
  width: 100%;
  height: 3.5rem;
  background-color: var(--footer-color);
  border-top: solid;
  border-color: var(--footer-stroke);
  border-width: .25rem;
}
.navbarFooter ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
 
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.navbarFooter li{
    padding-top: .3rem;
    padding-bottom: .5rem;
}

.navbarFooter img{
    width: 2rem;
}

.navbarFooter li a{
    position: fixed; /* Fix the footer to the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-color: var(--footer-stroke);
    width: 3rem;
    height: 3rem;
    border-width: .25rem;
    border-radius: 100%;
}
.navbarFooter li a.active{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: var(--footer-stroke);
    width: 3rem;
    height: 3rem;
    border-width: .25rem;
    border-radius: 100%;
    background-color: var(--footer-color2);
    position: fixed; /* Fix the footer to the viewport */
    bottom: 1rem;       /* Align it to the bottom */
}
.navbarFooter li:first-of-type a {
    left: 10%;
}
a.active{
    display: flex; 
    justify-content: center;
    align-items: center;  
    border-style: solid;   
    border-color: var(--footer-stroke);
    border-width: .25rem; 
    border-radius: 100%; 
    background-color: var(--footer-color2);
    position: fixed; /* Fix the footer to the viewport */
    padding: .6rem;
    }
    
    .navbarFooter li a.active img{
    width: 2.5rem;
    }
    .navbarFooter li:first-of-type a { 
    left: 10%;
    }   

    .navbarFooter li:first-of-type a.active { 
        left: 7%;
        }   
    .navbarFooter li:nth-of-type(2) a {  
    left: 50%; /* Position the left edge at the horizontal center */ 
    transform: translateX(-50%); /* Move the element back by half its width */
    }
        
    .navbarFooter li:last-of-type a {
    transform: translateX(-90%); /* Move the element back by half its width */ 
    }
    .navbarFooter li:last-of-type a.active {
        transform: translateX(-75%); /* Move the element back by half its width */ 
        }
    




.quiz-container{    
    background-image: url(/images/flessen-bg.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #E8E5E0;
    border-radius: .5rem .5rem 0 0;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex; 
    flex-direction: column;
    align-items: center; 
}
.quiz-container a{

    background-color: #ED9B40;
    border-radius: 5px;
    border-width: 2px;
    border-color: #CCCCCC;
    color: white;
    font-size: small;
    padding: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-style: solid;
    text-decoration: none;
    font-family: "Jaini Purva", system-ui;
    font-size: 1.5rem;
  }
.quiz-container button{
    width: 9rem;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.carousel {
    overflow: hidden;
}
.carousel h3{
    margin: .2rem;
}
.carouselText{
    display: flex;
}
.featured-beers {
    display: flex; 
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
    scroll-snap-type: x mandatory; 
    padding: 1rem;
    background-color: #E8E5E0;
    border-radius: .5rem .5rem 0 0;
}

.featured-beers img {
    padding-left: 1rem;
    width: 8rem;
    height: auto;
    scroll-snap-align: start; 
}

.search-container {
    display: flex; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search-input {
    flex-grow: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.quiz{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.quiz img{
    margin-top: 3rem;
    width: 6rem;
}
.quiz div:first-child div:last-child{
    display: flex;
    justify-content: space-around;
}

.quiz div:first-child{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 0rem 1rem 1rem 1rem;
}
.quiz div:first-child div:first-child{
    display: flex;
    justify-content: center;
}
.quiz .answer-option{
    background-color: rgb(226, 226, 226);
    margin-bottom: 1rem;
    border-radius: 10px;
}

.quiz div:first-child div:last-child button{
    background-color: white;
}

.arrow{
    border:#2D2D2A;
    border-style: solid;
    border-radius: 100%;
    padding-top: .25rem;
    padding-bottom: .35rem;
    padding-left: .55rem;
    padding-right: .55rem;
    background-color: white;

}

.quiz-selection{
    background-color: rgba(255, 255, 255, 0.492);
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 11.5rem;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    white-space: nowrap; 
}

.quiz-container h2{
    margin-left: 2rem;
    margin-right: 2rem;

}

.profile{
    border-style: solid;
    border-color: rgb(201, 201, 201);
    margin-left: -1rem;
    margin-right: -1rem;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.profile img{
    width: 3.5rem;
}
.profile div:first-child{
    display: flex;
    align-items: center;
}
.profile p{
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}
.profile > div:first-child > div > p:nth-child(2) {
    font-size: .8rem;  
}
.stats{
    background-color: lightgrey;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.stats p{
    font-size: 1rem;
    margin: 0;
}
.stats p:nth-child(2){
    font-size: .8rem;
}

hr{
    border-style: solid;
    border-color: #C9C9C9;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: 0;
}
.striped{
    border-style: dashed;
    border-color: rgb(170, 170, 170);
    width: 100%;
}

.stats > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;

}
.stats span{
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.vraag {
    display: none;
}

.vraag.actief {
    display: block;
}  

